@import url(styles.css);

footer {
    width: 100%;
    background: var(--text-color2);
    border-top: 1px solid #D9D9D9;

    display: flex;
    flex-direction: column;
}

.footer-links {
    padding: 5rem 0 2.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer-box h3 {
    font-size: var(--font-size-subtitle);
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.footer-box a {
    color: var(--text-color);
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}

.footer-box a:hover {
    transform: translateX(3px);
    color: var(--primary-color);
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #6E7076;
    color: var(--text-color2);
    font-size: var(--font-size-subtitle);
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6s;
}

.social a:hover {
    background: var(--primary-color);
    color: var(--text-color2);
    transform: translateX(3px);
}


.footer-bottom {
    padding: 1.5rem;
    text-align: center;
}

.footer-bottom h5 {
    font-size: var(--font-size-paragraph);
    font-weight: 400;
    color: var(--text-color);
}