:root {
    /*declara variável global do css*/
    --text-color: #000;
    --text-color2: #fff;
    --primary-color: #5333ED;    /* contraste em relação ao fundo: 6.85:1 */
    --primary-color-light: #E6DBFD; 
    /* E6DBFD
        -> América: passa 
        -> Europa: passa no Large Text, nao no Normal
        -> Ásia: passa 
        -> Oceania: passa 
        -> África: passa
        -> Antártida: passa no Large Text, nao no Normal
    */

    --secondary-color: #26186E;  /* contraste em relação ao fundo: 14.6:1 */
    --secondary-color-light: #4129BA; /* contraste em relação ao fundo: 9.32:1 */

    --font-size-title-header: 4.236rem;
    --font-size-title: 2.618rem;
    --font-size-subtitle: 1.618rem;
    --font-size-paragraph: 1rem;
    --font-size-small-text: 0.75rem;
    --font-size-smallest-text: 0.625rem;

    --radius: 16px;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html,
body {
    background-repeat: no-repeat;
    /*overflow-x: hidden;*/
}


main {
    width: 100%;
}

.container {
    width: min(80%, 1400px);
    margin: 12rem auto;
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.8rem 2rem;

    background-color: var(--secondary-color-light);
    color: var(--text-color2);

    border-radius: var(--radius);

    font-size: var(--font-size-paragraph);
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s
}

.btn-primary:hover {
    background-color: var(--primary-color);
}


.section-divider {
    width: 150px;
    height: 4px;

    background: var(--primary-color);

    border-radius: 999px;
}

.section-title {
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 1.2;
    color: var(--secondary-color);
}

.body-text {
    font-size: var(--font-size-paragraph);
    line-height: 1.6;
}




/*===== PAGINA HOME =====*/

/*Inicio SLIDES*/
/*slides*/
.content-slides {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.content-slides::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.slides {
    display: flex;
    width: 600%;
    height: 800px;
}

.slide {
    width: 16.66%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -16.66%;
}

#slide3:checked~.s1 {
    margin-left: -33.32%;
}

#slide4:checked~.s1 {
    margin-left: -49.98%;
}

#slide5:checked~.s1 {
    margin-left: -66.64%;
}

#slide6:checked~.s1 {
    margin-left: -83.3%;
}



.navigation {
    position: relative;
    bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 12px;
    z-index: 2;
}

.bar {
    width: 100px;
    padding: 0.4rem 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;


    border: 2px solid #fff;
    border-radius: var(--radius);
    color: #fff;

    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background-color: #fff;
    color: black;
}

input[type=radio] {
    display: none;
}

/*Fim SLIDES*/


/* inicio SECTION-HOME */
.home {
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 250px 13%;
    height: 90%;
}



.home-text h1 {
    font-size: var(--font-size-title);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 15px;
    color: var(--text-color2);
}

.line {
    width: 150px;
    height: 4px;
    background: var(--primary-color-light);
    margin-bottom: 15px;
    border-radius: 10px;
}

.home-text p {
    font-weight: 500;
    color: var(--text-color2);
    font-size: 20px;
}

/*fim SECTION-HOME (texto)*/





/*inicio HOTEIS*/
.hoteis {
    margin: 80px auto;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content-col {
    width: 40%;
    text-align: start;
    gap: 2rem;

    align-items: flex-start;
}

.image-col {
    width: 55%;
}

.col p {
    font-size: var(--font-size-paragraph);
    padding: 0;
    line-height: 1.4rem;
}

.hoteis .imagem-galeria {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.imagem-galeria img {
    width: 350px;
    height: 300px;
    object-position: bottom;
    object-fit: cover;
    margin: 10px;
}


/*fim HOTEIS*/



/* PASSEIOS SECTION */

.cards-text {
    justify-content: center;
    margin: 30px auto;
    align-items: center;
}

.cards-text .section-title {
    text-align: center;
}

.content-body-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    width: 320px;
    height: 420px;

    position: relative;
    overflow: hidden;

    border-radius: var(--radius);
    border: 2px solid var(--primary-color);

    border: 1px solid #dcdcdc;
    transition: transform 0.3s ease,
        box-shadow 0.3s ease;
}
.card-image{
    position: relative;
    height: 80%;
    overflow: hidden;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-footer{
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    border-top: 1px solid #dcdcdc;
}

.card-footer h3 {
    font-size: var(--font-size-subtitle);
    color: var(--secondary-color);
}
.descricao{
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    color: var(--text-color2);
    line-height: 1.4;

    padding: 1.5rem;

    background: rgba(38, 24, 110, 0.9);

    opacity: 0;
    transition: opacity .3s ease;
}
.card:hover {
    transform: translateY(-6px);

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
.card-image:hover .descricao{
    opacity: 1;
}